@charset "utf-8";

//Common
@import "_common";

/*-------------------------------
	footer
-------------------------------*/

.footer {
	/* .messageBlock：ステークホルダーへのメッセージ */
	.messageBlock {
		background: url(../img/common/messageBlock-bgi.jpg) center center/cover no-repeat;
		padding: 115px 0;
		text-align: center;
		@include mq(sm) {
			background: url(../img/common/messageBlock-bgi-sm.jpg) center center/cover no-repeat;
			padding: 65px 0;
		}
		p {
			font-size: 15px;
			font-weight: bold;
			color: $white;
			line-height: 2;
			@include mq(sm) {
				font-size: 13px;
			}
			&:not(:first-child) {
				@include mq(sm) {
					margin-top: .5em;
				}
			}
			br {
				display: none;
				@include mq(sm) {
					display: inline;
				}
			}
		}
	}
	/* .footer-txt：会社概要 */
	&-txt {
		position: relative;
		color: $white;
		text-align: left;
		@include mq(md) {
			font-size: 90%;
		}
		&::before {
			content: "";
			position: absolute;
			background: $white;
			width: 1px;
			height: 140px;
			left: 0;
			top: calc(50% - 70px);
			@include mq(md) {
				height: 180px;
				top: calc(50% - 90px);
			}
			@include mq(sm) {
				display: none;
			}
		}
	}
	/* .footer-subLink：関連するリンク */
	&-subLink {
		display: flex;
		flex-wrap: wrap;
		font-size: 13px;
		@include mq(sm) {
			display: block;
		}
		li {
			position: relative;
			font-family: $en1;
			color: $white;
			@include mq(sm) {
				padding: 15px 0;
				border-bottom: 1px dashed #ffffff4f;
				text-align: center;
				&:first-child {
					border-top: 1px dashed #ffffff4f;
				}
			}
			&:not(:last-child) {
				padding-right: 20px;
				&::after {
					content: "";
					background-color: $white;
					width: 4px;
					height: 4px;
					border-radius: 9999px;
					position: absolute;
					top: calc(50% - 2px);
					right: 8px;
					@include mq(sm) {
						display: none;
					}
				}
			}
		}
	}
	/* .copyright：コピーライト */
	.copyright {
		padding: 10px 0;
		text-align: center;
		small {
			font-family: $en1;
			font-style: italic;
			font-size: 12px;
			line-height: 1;
		}
	}
}