@charset "utf-8";

//Common
@import "_common";

/*-------------------------------
	Main Modlue
-------------------------------*/

/*	Typography
-------------------------------*/

/* font-family */
.ff-ja { font-family: $ja; }
.ff-en1 { font-family: $en1; }
.ff-en2 { font-family: $en2; }

/* color */
@each $color, $hex in $colors {
	.c-#{$color} { color: $hex; }
}

/*	Background
-------------------------------*/

/* background-color */
@each $color, $hex in $colors {
	.bgc-#{$color} { background-color: $hex; }
}

/*	Button & Link
-------------------------------*/

/* .btn */
.btn-round {// 角丸のボタン
	display: block;
	background: $black;
	color: $white;
	font-family: $en1;
	letter-spacing: .2em;
	max-width: 340px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 40px;
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
	position: relative;
	&::before {
		content: "";
		position: absolute;
		background: $white;
		right: 30px;
		top: calc(50% - 3.5px);
		border-radius: 9999px;
		width: 5px;
		height: 5px;
	}
	&:hover {
		transition: all .8s;
		text-decoration: none;
		&::before {
			transition: all .8s;
			right: 40px;
		}
	}
}

.btn-block {// ブロックボタン
	display: inline-block;
	border: 1px solid $black;
	padding: 10px 30px;
	font-family: $en1;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: .2em;
}
.btn-block-black {// ブロックボタン-黒
	display: inline-block;
	background: $black;
	color: $white;
	padding: 10px 30px;
	font-family: $en1;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: .2em;
}
.btn-block-white {// ブロックボタン-白
	display: inline-block;
	background: $white;
	color: $black;
	padding: 10px 30px;
	font-family: $en1;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: .2em;
}
.btn-block-txt {// ボタン-文字のみ
	display: inline-block;
	color: $white;
	padding: 5px 0;
	font-family: $en1;
	font-style: italic;
	line-height: 1.2;
	letter-spacing: .2em;
	border-bottom: 1px solid #fff;
}

/*	Object
-------------------------------*/

/* border */
// @each $color, $hex in $colors {
// 	.bd-#{$color} { border: 1px solid $hex; }
// 	@each $key, $value in $trbl {
// 		.b#{$key}-#{$color} { border-#{$value}: 1px solid $hex; }
// 	}
// }
.bb-gray {
	border-bottom: 1px solid $gray;
}

/*	Hover & Animation
-------------------------------*/

/* default hover */
.hov {
	opacity: 1;
	transition: opacity 100ms cubic-bezier(0.5, 1, 0.89, 1);
	&:hover {
		opacity: .65;
		text-decoration: none;
	}
}

/* scroll animation */
.js-scroll {
	position: relative;
	opacity: 0;
	&::after {
		content: "";
		background-color: $gray;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
	&.on {
		opacity: 1;
		animation: fadeIn 600ms cubic-bezier(0.16, 1, 0.3, 1);
		@keyframes fadeIn {
			from {
				transform: translate(0, 30px);
				opacity: 0;
			}
			to {
				transform: translate(0, 0);
				opacity: 1;
			}
		}
		&::after {
			animation: slideOut 600ms cubic-bezier(0.16, 1, 0.3, 1) 300ms both, viewHide 1ms cubic-bezier(0.16, 1, 0.3, 1) 599ms both;
			@keyframes slideOut {
				from {
					width: 100%;
				}
				to {
					width: 0;
				}
			}
			@keyframes viewHide {
				from {
					opacity: 1;
				}
				to {
					opacity: 0;
				}
			}
		}
	}
}

/*-------------------------------
	for Wordpress
-------------------------------*/

/*	Post related
-------------------------------*/

/* cms-sentence */
.cms-sentence {
	$mb: 30px;
	&::before,
	&::after {
		content: "";
		display: table;
	}
	&::after { clear: both; }
	h1, h2, h3, h4, h5, h6,
	p, blockquote, table,
	dl, ul, ol,
	figure, pre, .wp-caption { margin-bottom: $mb; }
	h1, h2, h3, h4, h5, h6 {
		font-weight: bold;
		line-height: 1.4;
		margin-top: 30px;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
			text-decoration-color: inherit;
		}
	}
	address { font-style: normal; }
	b, strong { font-weight: bold; }
	em { font-style: italic; }
	blockquote { /* shame */ }
	table { /* shame */ }
	dl { /* shame */ }
	ul { /* shame */ }
	ol { /* shame */ }
	code { /* shame */ }
	kbd { /* shame */ }
	pre { /* shame */ }
	.wp-caption, img {
		max-width: 100%;
		height: auto;
	}
	.wp-video {
		max-width: 100%;
		video {
			width: 100%;
			height: 100%;
		}
	}
	figcaption { /* shame */ }
	.alignleft {
		display: block;
		float: left;
		margin: 0 $mb $mb 0;
	}
	.alignright {
		display: block;
		float: right;
		margin: 0 0 $mb $mb;
	}
	.aligncenter {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	iframe {
		max-width: 100%;
		@include mq(sm) {
			width: 100%;
			height: calc((100vw - 40px) * .5625);
			&[src*="map"] { height: 400px; }
		}
	}
}

/* cms-pagenation */
.cms-pagenation {
	text-align: center;
	a {
		opacity: 1;
		transition: opacity 200ms;
		&:hover {
			text-decoration: none;
			opacity: .5;
		}
		&.null {
			background-color: #eee!important;
			color: #ccc!important;
			pointer-events: none;
		}
	}
	//.cms-pagenation > .md-d-n
	.md-d-n {
		.btn {}
		ul {
			display: inline-flex;
			padding-top: 25px;
			li {
				display: inline-block;
				margin: 15px 7px 0;
				a {
					display: block;
					background-color: #fff;
					border: 1px solid #222;
					width: 48px;
					height: 48px;
					line-height: 48px;
					text-align: center;
					&.act {
						color: #fff;
						background-color: #222;
					}
				}
				&:first-child a, &:last-child a { font-size: 85%; }
				&.elps { line-height: calc(48px - .5em); }
			}	
		}
	}
	//.cms-pagenation > .d-n.md-d-b
	.d-n.md-d-b {
		.pagenum {}
		ul {
			display: table;
			border-collapse: separate;
			border-spacing: 10px;
			width: 100%;
			padding-top: 15px;
			@include mq(sm) { border-spacing: 0; }
			li {
				display: table-cell;
				vertical-align: middle;
				@include mq(sm) {
					display: table-cell;
					vertical-align: middle;
					&:not(:last-child) a { border-right: none; }
				}
				&:first-child, &:last-child { width: 48px; }
				a {
					display: block;
					border: 1px solid #222;
					height: 48px;
					line-height: 48px;
					text-align: center;
				}
			}
		}			
	}
}